* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #255c1e;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #a1ebab;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 0 20px 0 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

nav > a >img {
  height: 50px;
  width: 60px;
  object-fit: contain;
  display: flex;
  justify-content : flex-start;
  margin-right: auto;
}

nav > span >img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: contain; 
  display: flex;
  justify-content : flex-start;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbe2ca;
  padding: 20px;
  overflow-y: scroll;
 

}

/* body > main h1:first-child {
  margin-bottom: 50px;
} */

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
}

nav > a:hover {
  color: rgb(221, 50, 50);
  background-color: #cae5eb;
}

nav > a.active {
  color: white;
}

#home-page{
  height: 100vh;
  width: 100vw;
  /* display: flex; */
}
#homePageTable {
  height: 40vh;
  /* width: 60vw; */
  /* display: flex */
}

#homePageCharts {
  height:50vh;
  width:50vw;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 1%;
  margin-left: 30%;
  max-width:500px;
  text-align: center;
}

.detailsArea{
  height: 50vh;
  width: 70vw;
  margin: auto;
}
.detailsArea > h1 {
  /* height: 10%; */
  /* width: 100%; */
}

.details > table{
  height: 80%;
  width: 100%;
  border-radius: 10px;
  /* border: 2px solid #424748; */
}

#allTripDetails > table > td{
  text-decoration-line: underline;
}

#myChart{

  height:50vh;
  width:50vw;
  margin:auto;
  /* margin-top: 10%;
  margin-bottom: 1%;
  margin-left: 30%; */
  max-width:500px;
  text-align: center;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border: 2px solid #579633;
  border-radius: 10px;
}
th {
  padding: 5px;
  border: 2px solid #579633;
  border-radius: 10px;
  background-color: rgb(139, 90, 230);
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(120, 113, 145);
  border-radius: 10px;
  background-color: rgb(93, 190, 109);
  /* float: left; */
}
.editingTable > tbody > tr > td {
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(120, 113, 145);
  border-radius: 10px;
  background-color: rgb(93, 190, 109);
  float: left;
}
.saveInfoButton{
  text-align: center;
}

.editingTableBottomForm{
  padding: 5px;
  text-align: center;
  border: 2px solid rgb(120, 113, 145);
  /* border-radius: px; */
  background-color: rgb(93, 190, 109);
}

.editingTableBottomForm > button{
  margin: 2px important;
  text-decoration: none;
  padding: 2px important;
  font-weight: 600;
  border-radius: 5px;
}

.newPageTable > tbody > tr > th{
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(120, 113, 145);
  border-radius: 10px;
  background-color: rgb(93, 190, 109);
  float: right;
}

button{
  margin: 20px;
  text-decoration: none;
  padding: 20px;
  font-weight: 600;
  border-radius: 15px;
}

button:hover {
  color: rgb(221, 50, 50);
  background-color: #b9cf39;
}

.no-user-data-available {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-button{
  margin: 5px !important;
  text-decoration: none;
  padding: 5px !important;
  font-weight: 600;
  border-radius: 5px !important;
}
.delete-button {
  margin: 5px !important;
  text-decoration: none;
  padding: 5px !important;
  font-weight: 600;
  border-radius: 5px !important ;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-align: center;
  padding: 10px;
  background-color: rgb(221, 164, 78);
  border-radius: 10px;
  /* object-fit: contain; */
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

